.bodyindex {
    
    background-image: url('./Imagenes/kanto-map.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    width: 100%;
}

.h1index {
    font-size: 35px;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
}

li {
    font-family: 'Press Start 2P', sans-serif;
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 24px;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: yellow;
}

h1 {
    font-size: 35px;
    text-align: center;
    letter-spacing: 3px;
    font-family: 'Press Start 2P', sans-serif;
    color: black;
    display: block;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
}

.bodypokemons {
    background-color: antiquewhite;
}

p {
    font-family: 'Press Start 2P' , sans-serif ;
}
.fuego {
    background-color: orange; 
    padding: 2px 8px;
    border-radius: 6px;
}
button {
    color:white;
    background-color: red;
    border-radius: 8px;
    border-color: red;
    font-family: 'Press Start 2P' , 'sans-serif';
    padding:6px 14px;
    text-align: center;
}
div {
    text-align: center;
}
button:hover {
    font-size: 14px;
}
h3 {
    font-family: 'Press Start 2P' , 'sans-serif';
}
h4 {
    font-family: 'Press Start 2P' , 'sans-serif';
}
.evoluciones {
    display: flex;
    height: 200px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 10px;
}